<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/css/project.css}">
    <link rel="stylesheet" th:href="@{/css/add_page.css}">
    <title>Add Project</title>
</head>
<body class="body">
<div class="body">
    <h1 class="sub-header">Add project</h1>
    <form action="#" th:action="@{/add_to_team}" method="POST">
        <select name="team" class="input-text selector" required>
            <option disabled selected value>Select team</option>
            <option
                    th:each="team : ${teams}"
                    th:value="${team.getId()}"
                    th:text="${team.getTeamName()}">
            </option>
        </select>
        <select name="worker" class="input-text selector" required>
            <option disabled selected value>Select worker</option>
            <option
                    th:each="designer : ${designers}"
                    th:value="${designer.getId()}"
                    th:text="${designer.getLastName()}">
            </option>
            <option
                    th:each="it : ${its}"
                    th:value="${it.getId()}"
                    th:text="${it.getLastName()}">
            </option>
        </select>
        <button>Add to team</button>
    </form>
</div>
</body>
</html>